         <!-- Bootstrap core JavaScript -->
       <script src="/jquery/jquery-3.3.1.min.js"></script>
       <script src="/js/bootstrap.js" ></script>
        
        <script type="text/javascript">
            $(function(){
                $('#drop-icon').hover(function()//on over
                {
                    $('#drop-icon').attr('src', '/imgs/content-headings/top-bar-headers/drop-roll.png');
                },
                function()//on out
                {
                    $('#drop-icon').attr('src', '/imgs/content-headings/top-bar-headers/drop.png');
                })
            });
        
            $(function(){
                $('#rates-icon').hover(function()//on over
                {
                    $('#rates-icon').attr('src', '/imgs/content-headings/top-bar-headers/rates-roll.png');
                },
                function()//on out
                {
                    $('#rates-icon').attr('src', '/imgs/content-headings/top-bar-headers/rates.png');
                })
            });
        
            $(function(){
                $('#mixes-icon').hover(function()//on over
                {
                    $('#mixes-icon').attr('src', '/imgs/content-headings/top-bar-headers/mixes-roll.png');
                },
                function()//on out
                {
                    $('#mixes-icon').attr('src', '/imgs/content-headings/top-bar-headers/mixes.png');
                })
            });
        
            
        
            $(function(){
                $('#about-icon').hover(function()//on over
                {
                    $('#about-icon').attr('src', '/imgs/content-headings/top-bar-headers/about-roll.png');
                },
                function()//on out
                {
                    $('#about-icon').attr('src', '/imgs/content-headings/top-bar-headers/about.png');
                })
            });

            $(function(){
                $('#login-icon').hover(function()//on over
                {
                    $('#login-icon').attr('src', '/imgs/content-headings/top-bar-headers/login-roll.png');
                },
                function()//on out
                {
                    $('#login-icon').attr('src', '/imgs/content-headings/top-bar-headers/login.png');
                })
            });

            $(function(){
                $('#logout-icon').hover(function()//on over
                {
                    $('#logout-icon').attr('src', '/imgs/content-headings/top-bar-headers/logout-roll.png');
                },
                function()//on out
                {
                    $('#logout-icon').attr('src', '/imgs/content-headings/top-bar-headers/logout.png');
                })
            });
        
       </script>

      
    
       
    </body>
    </html>
        