         <!-- Bootstrap core JavaScript -->
       <script src="/jquery/jquery-3.3.1.min.js"></script>
       <script src="/js/bootstrap.js" ></script>
        
        <script type="text/javascript">
            $(function(){
                $('#drop-icon').hover(function()//on over
                {
                    $('#drop-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/DROP-ROLL.png');
                },
                function()//on out
                {
                    $('#drop-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/DROP.png');
                })
            });
        
            $(function(){
                $('#rates-icon').hover(function()//on over
                {
                    $('#rates-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/RATES-ROLL.png');
                },
                function()//on out
                {
                    $('#rates-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/RATES.png');
                })
            });
        
            $(function(){
                $('#mixes-icon').hover(function()//on over
                {
                    $('#mixes-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/MIXES-ROLL.png');
                },
                function()//on out
                {
                    $('#mixes-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/MIXES.png');
                })
            });
        
            
        
            $(function(){
                $('#about-icon').hover(function()//on over
                {
                    $('#about-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/ABOUT-ROLL.png');
                },
                function()//on out
                {
                    $('#about-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/ABOUT.png');
                })
            });

            $(function(){
                $('#login-icon').hover(function()//on over
                {
                    $('#login-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/LOGIN-ROLL.png');
                },
                function()//on out
                {
                    $('#login-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/LOGIN.png');
                })
            });
            $(function(){
                $('#profile-icon').hover(function()//on over
                {
                    $('#profile-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/PROFILE-ROLL.png');
                },
                function()//on out
                {
                    $('#profile-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/PROFILE.png');
                })
            });

            $(function(){
                $('#logout-icon').hover(function()//on over
                {
                    $('#logout-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/LOGOUT-ROLL.png');
                },
                function()//on out
                {
                    $('#logout-icon').attr('src', '/imgs/Content-Headings/TOP-BAR-HEADERS/LOGOUT.png');
                })
            });
        
       </script>

      
    
       
    </body>
    </html>
        