<% include partials/header %>


    <div class="container about text-center">
        <div class="my-4">
            <img class="pt-5 pb-2" src="/imgs/Content-Headings/About/About.png">
        </div>
        <p>Dead Drop Productions is primarily an online Mixing and Mastering service. We offer world class Mixing and Mastering at affordable prices. Our passion is simply great sound.</p>
        <p>We have worked with artists covering a wide range of genres both in the studio and live. Examples of this can be found on our Media page.</p>
        <p>Our promise to you is that we will always strive to achieve your vision for your tracks and we will be transparent with you at all times. We understand that making a record can be hard to navigate and we are here to help ease that process allowing you to be the creative artist you are.</p>
        <p>We believe that a close professional relationship with good communication between you and our engineer is fundamental to achieve the best results for you through your creative process.</p>
        <p>We here at Dead Drop Productions are much more than just an online Audio Production service, we are your one stop shop from providing you with the knowledge to achieve the best recording of the tracks to giving you a finished product you can be proud of.</p>
        <p class="pb-4">DDP’s in-house engineer <span class="red">Warren Grimsley</span>  (<i>Jamiroquai’s monitor engineer</i>) has experience in live, broadcast (<i>FOH for MTV EMA Awards 2016, BBC Teen Awards 2016</i>) and studio productions. Get his touch on your music with our Dead Drop Mixing services or learn from his time on world class stages with his online tutorials. Join in on the Dead Drop community to share your experiences, questions or get feedback on your latest track.</p>
    </div>


   

<% include partials/footer %>