<% include partials/header %>

    <br>
    
    <div class="section-1 container text-center">
        <img id="logo" src="/imgs/logo.png">
        <br>
        <div class="text-left">
            <p>We here at <a href="mailto: support@deaddropproductions.net" class="red">Dead Drop Productions</a> are much more than just an online Audio Production service, we are your one stop shop from providing you with the knowledge to achieve the best recording of the tracks to giving you a finished product you can be proud of.</p>
            <p>DDP’s in-house engineer Warren Grimsley (Jamiroquai’s monitor engineer) has experience in live, broadcast (FOH for MTV EMA Awards 2016, BBC Teen Awards 2016) and studio productions. Get his touch on your music with our Dead Drop Mixing services or learn from his time on world class stages with his online tutorials. Join in on the Dead Drop community to share your experiences, questions or get feedback on your latest track.</p>
            <br>
        </div>
        
    </div>
    
    <div class="section-2 parallax">
        <div class="container text-center">
        <img class="p-5 labels" src="/imgs/Content-Headings/LANDING/What-We-Do.png">
        </div>
        
        <div class="container text-center pt-5" style="max-width: 80%">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img class="cloud " src="/imgs/Content-Headings/LANDING-PAGE-CLOUDS/DROP.png">
                    <p><span class="red">DROP</span> your recorded stems into your artist profile and supply us with your songs mixing notes, tempo and any other extra samples or information we need to complete your artistic vision.</p>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img class="cloud" src="/imgs/Content-Headings/LANDING-PAGE-CLOUDS/MIX.png">
                    <p>Our head engineer gets to work on your track, using both the latest in digital processing and his skilled ear Dead Drop Productions take your raw tracks from home recordings to radio ready releases.</p>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img class="cloud" src="/imgs/Content-Headings/LANDING-PAGE-CLOUDS/REVISE.png">
                    <p>Listen to our first draft and tell us what you think, you are able to comment on each song and communicate directly with our head engineer until you are happy with the final result.</p>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <img class="cloud" src="/imgs/Content-Headings/LANDING-PAGE-CLOUDS/SHARE.png">
                    <p>Once you are happy with the mix we supply you with high quality exports of your tracks in your preferred format and from there you are ready to share your music with the world.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <a class="" href="/register"><button class="btn btn-danger btn-block btn-lg mt-5 mb-3">REGISTER</button></a>
        </div>
    </div>


 

 
<% include partials/footer %>