<% include partials/header %>

    <br>
    
    <div class="container text-center">
        <img id="logo" src="imgs/logo.png">
        <br>
        <form action="/login" method="POST">
            <label class="red for="username">USERNAME</label>
            <input type="text" name="username" id="username" placeholder="" required />
            <br>
            <label class="red" for="password">PASSWORD</label>
            <input type="password" name="password" id="password" placeholder="" required />
            <br>
            <br>
            <input type="image" src="imgs/button.png" border="0" alt="Submit" />
        </form>
        <br>
        <a class="red" href="/register"><img src="imgs/new-user.png"></a>
    </div>

<% include partials/footer %>