<% include partials/header %>


    <div class="container text-center">
        <div class="">
            <img class="pt-2 pb-3 labels" src="/imgs/Content-Headings/MIXES/MIXES-HEADER.png">
        </div>
    </div>
    <div class="container">
        <p>Take a listen to our mixes and hear the Dead Drop difference for yourself. From Punk to pop, from EDM to Gospel we tackle it all. Give your music the best chance of standing out with our world class services.</p>

        <div id="rock">
            <img class="pt-2 pb-2 labels" src="/imgs/Content-Headings/MIXES/ROCK.png">
            <br>
            <h3>Held On Till May – All I Have</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/715410727&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

            <h3 class="mt-2">Eta Carinae - All Of My Sins</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/715410694&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

            <h3 class="mt-2">Made For Broadway - Turn It Up</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/715410739&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

            <h3 class="mt-2">Rocket Kid – Medicine</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/574412523&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

            <h3 class="mt-2">David Valles - Radio Silence</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/715408456&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

        <div class="mt-4"class="mt-4" id="gospel">
            <img class="pt-2 pb-2 labels" src="/imgs/Content-Headings/MIXES/GOSPEL.png">
            <br>
            <h3>Lekan Babalola – Whirlwind</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/574431807&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

        <div class="mt-4" id="hip-hop">
            <img class="pt-2 pb-2 labels" src="/imgs/Content-Headings/MIXES/HIP-HOP.png">
            <br>
            <h3>Teyar Flow - Perfect</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/574425114&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

        </div>
        <div class="mt-4" id="pop">
            <img class="pt-2 pb-2 labels" src="/imgs/Content-Headings/MIXES/POP.png">
            <br>
            <h3>Steph - Sometimes Crazy</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/574419240&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

        <div class="mt-4" id="edm">
            <img class="pt-2 pb-2 labels" src="/imgs/Content-Headings/MIXES/EDM.png">
            <br>
            <h3>S0UND M@N</h3>
            <p class="mb-0">AFTER THE DEAD DROP</p>
            <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/574414941&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

    </div>




<% include partials/footer %>