<% include partials/header %>


    <div class="container about text-center">
        <div class="my-4">
         <img class="pt-5 pb-2" src="imgs/rates.png">
        </div>
    </div>

    <div class="container about">
        <p>Here at DDP we strive to produce the highest possible quality releases within the realms of a DIY musician. We believe it is possible to achieve high end studio results from the comfort of your home or rehearsal space.</p>
        <p>Pricing is PER TRACK unless specified otherwise, if you have any enquiries please contact us directly on <a class="email" href="mailto:Support@deaddropproductions.net">Support@deaddropproductions.net</a> we will find a solution for you.</p>
    </div>

    <div class="container about text-center">
        <br/>
        <img class=""  src="imgs/editing-and-tuning.png">
        <p style="display: inline;">R1000</p>
        <br/>

        <br/>
        <img class=""  src="imgs/mixing.png">
        <p style="display: inline;">R1500</p>
        <br/>

        <br/>
        <img class=""  src="imgs/mastering.png">
        <p style="display: inline;">R750</p>
        <br/>

        <br/>
        <img class=""  src="imgs/mixing-and-mastering.png">
        <p style="display: inline;">R2000</p>
        <p class="pl-5" style="font-size: 12px;">(This includes musical production ie added synths, harmonies, effects)</p>
        <br/>
    
    
    </div>

<% include partials/footer %>