<% include partials/header %>


    <div class="container about text-center">
        <div class="">
         <img class="pt-2 pb-3 labels" src="/imgs/Content-Headings/RATES/RATES.png">
        </div>
    </div>

    <div class="container about">
        <p>Here at DDP we strive to produce the highest possible quality releases within the realms of a DIY musician. We believe it is possible to achieve high end studio results from the comfort of your home or rehearsal space.</p>
        <p>Pricing is PER TRACK unless specified otherwise, if you have any enquiries please contact us directly on <a class="email" href="mailto:Support@deaddropproductions.net">Support@deaddropproductions.net</a> we will find a solution for you.</p>
    </div>
    <br>
    
    <div class="container mb-3">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-3 col-sm-6">
            <div class="card mb-2">
                <img class="card-img-top" id="editRate" src="/imgs/Content-Headings/RATES/EDITING.jpg">
                <div class="card-body">
                    <div class="card-title" style="color: black;">
                    <h4>Editing & Tuning</h4> 
                    </div>
                </div>
                <span id="edit" class="btn btn-danger">Rates</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card mb-2">
                <img class="card-img-top" id="mixRate" src="/imgs/Content-Headings/RATES/MIXING.jpg">
                <div class="card-body">
                    <div class="card-title" style="color: black;">
                    <h4>Mixing</h4> 
                    </div>
                </div>
                <span id="mix" class="btn btn-danger">Rates</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card  mb-2">
                <img class="card-img-top" id="masterRate" src="/imgs/Content-Headings/RATES/MASTERING.jpg">
                <div class="card-body">
                    <div class="card-title" style="color: black;">
                    <h4>Mastering</h4> 
                    </div>
                </div>
                <span id="master" class="btn btn-danger">Rates</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card mb-2">
                <img class="card-img-top" id="mixAndMasterRate" src="/imgs/Content-Headings/RATES/MIXING-AND-MASTERING.jpg">
                <div class="card-body">
                    <div class="card-title" style="color: black;">
                    <h4>Mixing & Mastering</h4> 
                    </div>
                </div>
                <span id="mixAndMaster" class="btn btn-danger">Rates</span>
            </div>
        </div>
    </div>
    </div>
<% include partials/footer %>